Administrator:
  type: entity
  table: administrators
  
  id:  
    id:
      type: integer
      nullable: false
      generator:
        strategy: AUTO
      options:
        unsigned: true
  
  fields: 
    name:
      type: string
      length: 20
      nullable: false

    role:
      type: string
      length: 7
      nullable: false
    
    phone:
      type: string
      length: 20
      nullable: false
      unique: true

    email:
      type: string
      length: 254
      nullable: false
      unique: true

    password:
      type: string
      length: 255
      nullable: true

    image_url:
      type: string
      length: 255
      nullable: false