<section id="entities">

	<div class="entities-list admin-list">
		<header>
			<span>Administrators</span>
			<div class="btn-add">+</div>
		</header>
		{% for admin in admins %}
		<div data-url="school/admin/{{ admin.getId}}" data-admin_id="{{ admin.getId }}" class="entitiy-container">
			<img src={{ admin.getImageUrl }}>
			<div class="description-container">
				<div class="desc-title">{{admin.name}}, {{admin.role.getName()}}</div>
				<div>{{admin.phone}}</div>
				<div>{{admin.email}}</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
</section>