
<section id=view>
	
	
	<div class="student-edit">
		<header>Edit Student</header>
		<form>
			<div class="student-edit-btns">
				<button>Save</button>
				<button>Delete</button>
			</div>
			<div class="student-edit-inputs">
				<input type="text" name="student_name" placeholder="Name">
				<input type="text" name="student_phone" placeholder="Phone">
				<input type="text" name="student_email" placeholder="Email">
				
				<input type="file" name="student_image">
			</div>	
		
			<div class="student-edit-footer">
				<img src="public/images/students/default.png">
				<div class="student-edit-courses">
					<div class="course-container">
						<input type="checkbox" name="courses" value="Course A">
						<label>Course A</label>
					</div>
				</div>
			</div>
		</form>
	</div>

</section>
<!-- 
	<div class="student-edit">
		<header>Edit Student</header>
		<form>
			<div class="student-edit-btns">
				<button>Save</button>
				<button>Delete</button>
			</div>
			<div class="student-edit-inputs">
				<input type="text" name="student_name" placeholder="Name">
				<input type="text" name="student_phone" placeholder="Phone">
				<input type="text" name="student_email" placeholder="Email">
				
				<input type="file" name="student_image">
			</div>	
		
			<div class="student-edit-footer">
				<img src="public/images/students/default.png">
				<div class="student-edit-courses">
					<div class="course-container">
						<input type="checkbox" name="courses" value="Course A">
						<label>Course A</label>
					</div>
				</div>
			</div>
		</form>
	</div> -->


<!-- <header class = "view-header">
		<span>Student</span>
		<button>Edit</button>
	</header>
	<div class= "view-top">
		<img src="public/images/students/default.png">
		<div class="view-text">
			<h1>Student Name</h1> 
			<span>0545540121</span>
			<span>shnarch@gmail.com</span>
		</div>
	</div>
	<div class="view-bottom">
		<div class = "course-entity">
			<img src="public/images/courses/cpp.png">
			<span>Course Name</span>
		</div>
	</div> -->


<!-- 		<div class="course-edit">
		<header>Add Course / Edit Course Name</header>
		<form>
			<div class="course-edit-btns">
				<button>Save</button>
				<button>Delete</button>
			</div>
			<div class="course-edit-inputs">
				<input type="text" name="course_name" placeholder="Course Name">
				<textarea name="course_description" placeholder="Course Description"></textarea>
			</div>	
		</form>
		<div class="course-edit-footer">
			<img src="public/images/courses/cpp.png">
			<footer> Total 66 students taging this course</footer>
		</div>
	</div>
 -->

<!-- <header class = "view-header">
		<span>Courase Name</span>
		<button>Edit</button>
	</header>
	<div class= "view-top">
		<img src="public/images/courses/cpp.png">
		<div class="view-text">
			<header> Course A, 666 Students</header>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="view-bottom">
		<div class = "student-entity">
			<img src="public/images/students/default.png">
			<span>Student Name</span>
		</div>
	</div> -->